In [45]:
import pandas as pd
import numpy as np

In [53]:
url = "https://finance.naver.com/item/sise_day.nhn?code=068270&page="

In [59]:
df = pd.DataFrame()
for page in range(1, 11):
    res = requests.get(url + str(page))
    print(url + str(page))
    df = df.append(pd.read_html(url, header=0, encoding='CP949')[0], ignore_index=True)

https://finance.naver.com/item/sise_day.nhn?code=068270&page=1
https://finance.naver.com/item/sise_day.nhn?code=068270&page=2
https://finance.naver.com/item/sise_day.nhn?code=068270&page=3
https://finance.naver.com/item/sise_day.nhn?code=068270&page=4
https://finance.naver.com/item/sise_day.nhn?code=068270&page=5
https://finance.naver.com/item/sise_day.nhn?code=068270&page=6
https://finance.naver.com/item/sise_day.nhn?code=068270&page=7
https://finance.naver.com/item/sise_day.nhn?code=068270&page=8
https://finance.naver.com/item/sise_day.nhn?code=068270&page=9
https://finance.naver.com/item/sise_day.nhn?code=068270&page=10

In [63]:
len(df)
type(df)

pandas.core.frame.DataFrame

In [64]:
df = df.dropna()
df.shape

(100, 7)

In [62]:
df

             날짜        종가     전일비        시가        고가        저가        거래량
1    2020.09.02  301000.0  3000.0  299500.0  304000.0  298500.0   275188.0
2    2020.09.01  298000.0  1000.0  297000.0  302000.0  295000.0   668602.0
3    2020.08.31  297000.0  7500.0  305000.0  305500.0  296500.0  1079872.0
4    2020.08.28  304500.0     0.0  306000.0  308000.0  303500.0   557944.0
5    2020.08.27  304500.0  6000.0  310500.0  311000.0  304000.0   722862.0
..          ...       ...     ...       ...       ...       ...        ...
144  2020.08.26  310500.0  4000.0  312000.0  319500.0  309000.0  1262116.0
145  2020.08.25  306500.0  3500.0  310500.0  311000.0  304500.0   600050.0
146  2020.08.24  310000.0  9000.0  304500.0  311000.0  301500.0   814190.0
147  2020.08.21  301000.0  4000.0  308000.0  308500.0  296000.0  1037558.0
148  2020.08.20  305000.0  1000.0  303000.0  317000.0  301000.0  1708375.0

[100 rows x 7 columns]